.git
.gitignore
Dockerfile
deploy/compose.yml
.DS_Store
.idea
.vscode
*.iml

**/target
target
**/build
**/out
**/*.log
**/*.pid
**/*.class
${openmrs:applicationDirectory}

.env
.env.*
!.env.example

reference-sources
.dev/reference-sources/.DS_Store
.dev/reference-sources/openmrs-distro-modules
.dev/reference-sources/openmrs-module-datafilter
.dev/reference-sources/sihsalus-content/.git
.dev/reference-sources/sihsalus-content/target
