.git
.gitignore
Dockerfile
compose.yml
.DS_Store
.idea
.vscode
*.iml

**/target
**/build
**/out
**/*.log
**/*.pid
**/*.class

.env
.env.*
!.env.example

reference-sources/.DS_Store
reference-sources/openmrs-distro-modules
reference-sources/openmrs-module-datafilter
reference-sources/sihsalus-content/.git
reference-sources/sihsalus-content/target
