# Sihsalus Core local development environment

SIHSALUS_ENV=local
SIHSALUS_PUBLIC_URL=http://localhost:8080

SIHSALUS_DATASOURCE_URL=jdbc:postgresql://localhost:5432/sihsalus
SIHSALUS_DATASOURCE_USERNAME=sihsalus
SIHSALUS_DATASOURCE_PASSWORD=sihsalus
SIHSALUS_OPENMRS_APPLICATION_DATA_DIRECTORY=/tmp/sihsalus-openmrs

JAVA_TOOL_OPTIONS=-XX:MaxRAMPercentage=75.0 -Dfile.encoding=UTF-8
