<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="sihsalusPattern">%d{ISO8601} %-5p [%t] %c{1.} - %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="${sihsalusPattern}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.openmrs" level="WARN"/>
        <Logger name="org.hibernate" level="WARN"/>
        <Logger name="liquibase" level="INFO"/>
        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>
