<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.sihsalusinterop</package>
	<author>Hospital Santa Clotilde - SIH.SALUS Team</author>
	<description>
			${project.parent.description}
	</description>

	<activator>org.openmrs.module.sihsalusinterop.SihSalusInteropActivator</activator>
	
	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->
	
	<require_version>1.11.6</require_version>
	
	<!-- Liquibase Configuration -->
	<databaseVersion>
		<version>1.0.0</version>
	</databaseVersion>
	
	<!-- Hibernate Mapping Files -->
	<mappingFiles>
		SihSalusInterop.hbm.xml
	</mappingFiles>
	
	<!-- Extensions -->
	

	<require_modules>
		<require_module>org.openmrs.module.fhir2</require_module>
	</require_modules>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>
	
	
	<!-- AOP
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class>
	</advice>
	 /AOP -->
	
	
	<!-- Required Privileges 
	<privilege>
		<name>Form Entry</name>
		<description>Allows user to access Form Entry pages/functions</description>
	</privilege>
	 /Required Privileges -->

	<privilege>
		<name>SIH SALUS Interop Privilege</name>
		<description>Allows user to access SIH SALUS Interoperability module functions</description>
	</privilege>

	<privilege>
		<name>Manage Interop Queue</name>
		<description>Allows user to manage interoperability message queue (FHIR/FUA)</description>
	</privilege>

	<privilege>
		<name>Send FHIR Messages</name>
		<description>Allows user to send FHIR messages to RENHICE</description>
	</privilege>

	<privilege>
		<name>Generate FUA</name>
		<description>Allows user to generate and send FUA documents to SETI-SIS</description>
	</privilege>

	<privilege>
		<name>View Interop Logs</name>
		<description>Allows user to view interoperability logs and queue status</description>
	</privilege>
	
	<privilege>
		<name>View Interop Queue</name>
		<description>Allows user to view and monitor the interoperability message queue</description>
	</privilege>

	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.sihsalusinterop.extension.html.AdminList</class>
	</extension>

	<!-- Required Global Properties -->
	<globalProperty>
		<property>sihsalusinterop.renhice.endpoint</property>
		<defaultValue>http://hapi-fhir-server:8080/fhir</defaultValue>
		<description>
			Endpoint URL del servidor FHIR de RENHICE (Dyaku).
			En producción, usar la URL oficial del MINSA.
			En desarrollo/prueba, usar el servidor HAPI FHIR local simulado.
			NOTA: Usar el nombre del contenedor Docker (no localhost) si están en la misma red.
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>sihsalusinterop.renhice.enabled</property>
		<defaultValue>true</defaultValue>
		<description>
			Habilita o deshabilita el envío automático de datos a RENHICE.
			Valores: true (habilitado) o false (deshabilitado).
			Si se deshabilita, los mensajes no se encolarán automáticamente al guardar Encounters.
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>sihsalusinterop.queue.maxRetries</property>
		<defaultValue>5</defaultValue>
		<description>
			Número máximo de reintentos para enviar un mensaje que falló.
			Después de este número de intentos, el mensaje quedará en estado FAILED.
		</description>
	</globalProperty>
	
	<globalProperty>
		<property>sihsalusinterop.queue.retryInterval</property>
		<defaultValue>300000</defaultValue>
		<description>
			Intervalo de tiempo (en milisegundos) entre intentos de reenvío de mensajes fallidos.
			Por defecto: 300000 ms = 5 minutos.
		</description>
	</globalProperty>
	<!-- /Required Global Properties -->
	
	<!--
	<dwr>
		<allow>
			<create creator="new" javascript="DWRFormEntryService">
				<param name="class" value="org.openmrs.module.@MODULE_ID@.web.DWRFormEntryService"/>
				<include method="enterForm"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
			import @MODULE_PACKAGE@.web.DWRFormEntryService;
			DWRFormEntryService.enterForm(Integer patientId, Integer formId, boolean useEncounter, List<String> fields);
			]]>
		</signatures>	
	</dwr>
	-->
	
	<!-- Servlets -->
	<!-- Spring MVC Controllers handle the URLs automatically via annotations -->
	<!-- /Servlets -->
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>

